<div class="col-sm-12"><h2>Edit Node</h2>
	<div>
		<script type="text/ng-template" id="alert.html">
				<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
					<div ng-transclude></div>
				</div>
			</script>
	  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<div class="row">
		<div class="col-sm-6">
           <label  for="nameField">Name*</label>
           <input  type="text" class="form-control" id="nameField" data-ng-model="node.name" data-ng-required="true"  placeholder="Node Name" value="{{ node.name }}" autofocus/>
		</div>
	</div>
	<div class="row">
       <div class="col-sm-12">
           <label  for="descField">Description</label>
           <textarea id="descField" class="form-control" placeholder="Optional Description" data-ng-model="node.description" rows="3">{{ node.description }}</textarea>
       </div>
	</div>
	<div class="row">
      <div class="col-sm-12">
           <label  for="contentField">Content</label>
           <textarea id="contentField" class="form-control" placeholder="Optional Content" data-ng-model="node.content" rows="12">{{ node.content }}</textarea>
           <div text-angular data-ng-model="node.content"></div>
       </div>
	</div>
	<div class="row">
		<br/>
       <div class="col-sm-3">
           <label for="contentTypeField">Content Type</label>
           <select name="contentTypeField" id="contentTypeField" data-ng-model="contentTypes.selectedOption"
           		data-ng-options="contentType.name for contentType in contentTypes.availableOptions track by contentType.id">
     		</select>
       </div>
       <div class="col-sm-3" data-ng-show="!node.id">
       		<label  for="nodeTypeField">Node Type</label>
          	<select name="nodeTypeField" id="nodeTypeField" data-ng-model="node.nodeType"
           		data-ng-options="nodeType.name as nodeType.name for nodeType in nodeTypes">
     		</select>
  	   </div>  	   
       <div class="col-sm-3">
       		<label  for="topLevelField">Top Level Node?</label>
		    <input type="checkbox" name="topLevelField" id="topLevelField" data-ng-model="node.topLevel">
  	   </div>
	</div>
	<div class="row">
       <uib-accordion>
        <uib-accordion-group heading="Extended Properties" is-open="true" >
        <table class="table table-striped">
			<tbody>
	        	<tr ng-repeat="property in node.attributes">
					<td>
		        		<label  for="attrField">{{ property.name }}</label>
		        	</td>
		        	<td>
		        		<input  type="text" id="attrField" placeholder="{{ property.name }}" data-ng-model="property.data"/>
		        	</td>
	        	</tr>
			</tbody>
		</table>        	
        </uib-accordion-group>
       </uib-accordion>
	</div>
	<div class="row">
       <div>
	       	<button data-ng-click="saveNode()" class="btn btn-primary"><i class="fa fa-save"> Save</i></button>
	       	<button back class="btn btn-primary"><i class="fa"> Cancel</i></button>
	    </div>
    </div>
 	</div>
