<div class="col-sm-8 blog-main">
	<div>
		<script type="text/ng-template" id="alert.html">
				<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
					<div ng-transclude></div>
				</div>
			</script>
	  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<div style="float: right;">
    	<a class="btn btn-primary" href="#node-type/new/edit" title="Create a new Node Type"><i class="fa fa-file-o"> New Node Type</i></a>
    </div>
    <table class="table table-striped">
		<tbody>
		<tr class="blog-post" data-ng-repeat="nodeType in nodeTypes">
		<td data-ng-show="nodeType.name != 'Default'">
			{{ nodeType.name }}
		</td>
		<td data-ng-show="nodeType.name != 'Default'">
			<div style="float: right">
				<a class="btn btn-primary btn-sm" href="#node-type/{{ nodeType.name | encodeURIComponent }}/edit" title="Edit Node Type"><i class="fa fa-edit"> <small>Edit</small></i> </a>
				<button class="btn btn-danger btn-sm" data-ng-click="deleteNodeType(nodeType.name)" title="Delete" data-confirm="Delete Node Type?"><i class="fa fa-trash-o"> <small>Delete</small></i></button>
			</div>
		</td>
		</tr>
		</tbody>
	</table>		
</div>
